
/* backdrop-filter: blur(5px); */

.fondo{
    /* background: #fb9815; */

    text-align: center;
    height: 100vh;
}
.cardContainer {
    display: grid;
    grid-template-columns: repeat(4,170px);
    gap:15px;
    padding: 20px;
    justify-content: center;
    height: 100%;
}
.cardContainer .cargando{
    /* position: absolute;
    top: 40.9%;
    left: 40.9%; */
    width: auto;
    height: 180px;
    position: absolute;
    top: 34%;
    left: 40%;
}
.card img{
    border-radius: 10px;
    height: 90px;
    width:150px;
}

.cargando{
    display: flex;
    justify-items: center;
}