.landing{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
}
.titulo{
    justify-content: end;
    text-align: center;
    color: #000000;
    margin-left: 15px;
    padding-top: 25px;
    font-size: 40px;
    font-weight: 900;
    /* offset-x | offset-y | blur-radius | color*/
    /* animation: texto-animado 1s infinite; */
    text-shadow: 3px 3px 5px #ffffff;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.titulo span{
    position: absolute;
    font-size: 50px;
    animation: animation-hueso 2s infinite;
}



.container{
    margin: 0;
    background: transparent;
    display: inline;
    text-align: right;
}

.btn{
    text-align: center;
    text-decoration: none;
    color: black;
    width: 220px;
    font-size: 40px;
    /* font-weight: 400; */
    background: #fb9815;
    border: 3px solid white;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    top: 49.8%;
    left: 55%;
    animation: animation 2s infinite;
    box-shadow: 0 2px 18px rgba(62, 62, 62, 0.751);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


@keyframes animation {
    0%{
        transform: translateY(-10px);
    }
    30%{
        transform: translateY(0) rotate(2deg);
    }
    50%{
        transform: rotate(-2deg);
    }
    75%{
        transform: rotate(2deg);
    }
    100%{
        transform: translateY(-10px);
    }
    
}
@keyframes animation-hueso {
    0%{
        transform: rotate(10deg);
    }
    30%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-180deg);
    }
    75%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes texto-animado {
    from{
        text-shadow: 3px 3px 5px #ffffff;

    }
    to{
        text-shadow: 3px 3px 10px #ffffff;
    }
}